body {
    background-color: #ff97cf;
    color: black;
    font-family: "Grey Qo", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ff9;
    color: black;
    font-family: "Grey Qo", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}